@import "tailwindcss";

@theme inline {
  --color-grey-50: #FAFCFF;
  --color-grey-100: #F4F8FC;
  --color-grey-200: #EBF1F6;
  --color-grey-300: #DEE5ED;
  --color-grey-400: #CAD5E0;
  --color-grey-500: #AFBECD;
  --color-grey-700: #637D97;
  --color-grey-800: #3F5B77;
  --color-grey-900: #0A2642;
  --color-blue-800: #0059DA;
  --color-green-50: #BFF5D3;
  --color-green-400: #3BA06C;
  --color-green-500: #328755;
  --color-red-400: #D20004;
  --color-orange-200: #FA4515;
  --color-yellow-200: #FCCA4E;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: #ffffff;
  color: var(--color-grey-900);
}
